@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Example for <strong>Pagination by Using X.PagedList</strong></h1>
    <p>This is a very simple example to display pagination usage.</p>
    <h3>Assumptions</h3>
    <ul>
        <li>Web application project has been created and opened.</li>
    </ul>

    <!--Link to Students Index page-->
    <a asp-area="" asp-controller="Students" asp-action="Index"><strong>Click to display Students table</strong></a>
</div>
